In [1]:
# 导入相关库
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
# 导入数据集
data = pd.read_csv(r'chip_test.csv')
data.head()

      test1    test2  pass
0  0.051267  0.69956     1
1 -0.092742  0.68494     1
2 -0.213710  0.69225     1
3 -0.375000  0.50219     1
4  0.183760  0.93348     0